*{
    padding: 0;
    margin: 0;
    width: 100 vh;
    overflow: none;
}
.topImage img {
    width: 100%;
    height: 360px;
    background-size: cover;
  }
  .topText {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .logo img{
    width: 30px;
    height: 30px;
  }
  /* #btn{
      background-color: white;
      width: 30px;
      height: 20px;
      border-radius: 50px ;
      padding-bottom: 40px;
      margin-top: 40%;
      color: white;

      background-color: transparent;border: 1px solid white;
      
  } */

  /* <!-- The About us Section */
.aboutUs{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    
}

.services img {
    width: 100%;
    height: 300px;
    background-size: cover;

  }
  .servicesText{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    top: -40vh;
    
  }
  .icon2{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .icon3{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .heading{
    text-align: center;
    padding: 32px;
    margin-top: -1%;
    margin-left: -4%;
  }

  .headerPort{
    text-align: center;
    padding: 32px;
    margin-left: -16%;
  }
  /* portfolio */
  #mainContainer{
    height: 400px;

  }

  #portfolio{
    display: flex;
    margin-left: 5%;
    height: 230px;
  
  }
 
  #image1, #image2, #image3, #image4,#image5, #image6, #image7, #image8{
    height: 200px;
    width: 250px;
  }
  #portfolio2{
    display: flex;
    margin-left: 5%;
    height: 250px; 
  }
  #myText{
    color: white;
    font-size: 25px;
  }
  .col-md-3 img{
    max-width: 100%;
    max-height: 100%;
  }
  .portfolio h2{
    text-align: center;
    padding-top: 40px;

  }

  .contactUs img{
    width: 100%;
    height: 350px;
   
    overflow: none;
  }
  .form{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: transparent;
    margin-top: -25%;  
    color: white;
  }
  .float-right1 img{
    height: 30vh;
    padding: 10px;
  
  }
  .float-right2 img{
    height: 30vh;
    padding: 10px;
  
  }
  .myImages{
    /* display: block; */
    margin-left: 10%;
    justify-content: center;
    padding: 10px;
    margin-top: -3%;
  
  }
  .transparent-input {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    margin: 4px 4px;
    color: white;
 }
 footer{
  text-align: center;
  padding-top: 7%;
}
input[type=text],input[type=email]{
  color: white;
}
.mouseImage{
  position: relative;
  top:80px;

}
.mouseImage img{
  height: 30px;
  width: 25px;
}
button, #reset{
  background-color: blue;
  position: relative;
  top: 30px;
  left: -22%;
  width: 20%;
  
}
#textarea{
  position: relative;
  left: 20%;
}

/*What we do*/

.what-we-do{
  text-align: center;
  margin-top: -13%;

}
.what-we-do .headings{
  padding-bottom: 30px;
}
#mouse-click{
  padding-top: 22px;
  margin-top:10%;
  padding-bottom: 30px;
}
#design{
  display: none;
}
#development{
  display: none;
}
#product{
  display: none;
}

#port2 p{
  font-size: 20px;
  margin-top: -50%;
  margin-left: 25px;
}
#port3 p{
  font-size: 20px;
  margin-top: -50%;
  margin-left: 25px;
  
}
#port4 p{
  font-size: 20px;
  margin-top: -50%;
  margin-left: 25px;
  
}
#port5 p{
  font-size: 20px;
  margin-top: -50%;
  margin-left: 25px;
 
}
#port6 p{
  font-size: 20px;
  margin-top: -50%;
  margin-left: 25px;
  
}
#port7 p{
  font-size: 20px;
  margin-top: -50%;
  margin-left: 25px;
  
}
#port8 p{
  font-size: 20px;
  margin-top: -50%;
  margin-left: 25px;

}
.firstText, .secondText, .thirdText, .fourthText, .fifthText, .sixthText, .seventhText, .eightText{
  display: none; 
  height: 150px;
  width: 220px;
  margin-left: 5%;
  margin-top: -70%;
  z-index: 2;
  border: 4px solid white;
  text-align: center;
}